
      main {
      width: 1000px;
      height: 600px;
      padding: 10px;
      background: rgb(207, 207, 25);
      }
    h1 {
      font-family: fantasy, cursive, serif;
      color: rgb(142, 74, 35);
      border-bottom: 1px dotted darkgreen;
      text-align: center;
      }
    /*p {
        color: rgb(111, 0, 255);
        /* This is a single-line comment 
        text-align: center;
       } */
    p {
      font-family: sans-serif;
      color: orange;
      text-align: center;
      }
 