
body {
    color: blue;
  } 
a {
    font-size:30px;
    color:green
    }
h1 {
    color: greenyellow
}
article {
        background-color: rgb(191, 196, 147);
        width: 200px;
        border: 15px solid green;
        padding: 30px;
        margin: 20px;
      }
header {
  text-align: right;
  background-color: rgb(114, 118, 177);
  color: white;
  padding: 2em;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
p {
    font-family: sans-serif;
    color:rosybrown;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
.wrapper {
  width: 900px;
  font-size: 1.6em;
  margin: 0 auto;
  background-color: rgb(93, 129, 151);
}
body {
    color:rosybrown;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}